# MacOS
.DS_Store

# Sublime
._*

# Data
downloads/
experiments
data

# Jupyter Notebook
*.ipynb_checkpoints
*.ipynb

# VIM
*.swp

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# RL folders
model/rl/summary/*
model/rl/models/*

# Caches
*.swp
__pycache__/*

.idea/*
